{
  "openapi": "3.1.0",
  "info": {
    "title": "Potpie API",
    "version": "1.0.0",
    "description": "API documentation for Potpie - AI-powered codebase intelligence platform"
  },
  "servers": [
    {
      "url": "https://production-api.potpie.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/conversations/": {
      "post": {
        "tags": ["Conversations"],
        "summary": "Create Conversation",
        "description": "Create a new conversation for interacting with your codebase. A conversation can be associated with multiple projects and agents.",
        "operationId": "create_conversation_api_v1_conversations__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversationRequest"
              },
              "example": {
                "user_id": "user_123",
                "title": "Debugging Authentication Flow",
                "status": "active",
                "project_ids": ["proj_456"],
                "agent_ids": ["debugging-agent"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConversationResponse"
                },
                "example": {
                  "message": "Conversation created successfully",
                  "conversation_id": "conv_789"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/parse": {
      "post": {
        "tags": ["Parsing"],
        "summary": "Parse Directory",
        "description": "Initiate parsing of a repository or directory to build the knowledge graph. This analyzes your codebase structure and creates the foundational data for AI agents.",
        "operationId": "parse_directory_api_v1_parse_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParsingRequest"
              },
              "example": {
                "repo_name": "my-awesome-project",
                "repo_path": "/path/to/repo",
                "branch_name": "main"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Parsing initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "project_id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "submitted",
                  "project_id": "proj_456"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/parsing-status/{project_id}": {
      "get": {
        "tags": ["Parsing"],
        "summary": "Get Parsing Status",
        "description": "Check the parsing status of a specific project. Returns the current state of the parsing process and completion percentage.",
        "operationId": "get_parsing_status_api_v1_parsing_status__project_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Project Id"
            },
            "description": "The unique identifier of the project",
            "example": "proj_456"
          }
        ],
        "responses": {
          "200": {
            "description": "Parsing status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["pending", "in_progress", "completed", "failed"]
                    },
                    "progress": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "in_progress",
                  "progress": 65.5,
                  "message": "Analyzing code structure"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/{conversation_id}/message/": {
      "post": {
        "tags": ["Conversations"],
        "summary": "Post Message",
        "description": "Send a message to an existing conversation. The AI agent will process your message and respond based on the conversation context and codebase knowledge.",
        "operationId": "post_message_api_v1_conversations__conversation_id__message__post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Conversation Id"
            },
            "description": "The unique identifier of the conversation",
            "example": "conv_789"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              },
              "example": {
                "content": "How does the authentication flow work in this codebase?",
                "node_ids": [
                  {
                    "node_id": "node_123",
                    "name": "AuthService"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message_id": "msg_101",
                  "status": "processing"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/list": {
      "get": {
        "tags": ["Projects"],
        "summary": "List Projects",
        "description": "Retrieve a list of all projects associated with your account. Projects represent parsed codebases in Potpie.",
        "operationId": "get_project_list_api_v1_projects_list_get",
        "responses": {
          "200": {
            "description": "Projects retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "repo_path": {
                        "type": "string"
                      },
                      "branch_name": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": "proj_456",
                    "name": "my-awesome-project",
                    "repo_path": "/path/to/repo",
                    "branch_name": "main",
                    "status": "active",
                    "created_at": "2024-01-15T10:30:00Z"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/list-available-agents/": {
      "get": {
        "tags": ["Agents"],
        "summary": "List Available Agents",
        "description": "Get a list of all available AI agents that can be used in conversations. Each agent is specialized for different tasks like debugging, QnA, or code changes.",
        "operationId": "list_available_agents_api_v1_list_available_agents__get",
        "responses": {
          "200": {
            "description": "Agents retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AgentInfo"
                  },
                  "type": "array",
                  "title": "Response List Available Agents Api V1 List Available Agents  Get"
                },
                "example": [
                  {
                    "id": "debugging-agent",
                    "name": "Debugging Agent",
                    "description": "Debug errors in your codebase iteratively"
                  },
                  {
                    "id": "qna-agent",
                    "name": "QnA Agent",
                    "description": "Answer questions about your codebase"
                  },
                  {
                    "id": "code-changes-agent",
                    "name": "Code Changes Agent",
                    "description": "Generate code changes for your codebase"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/search": {
      "post": {
        "tags": ["Search"],
        "summary": "Search Codebase",
        "description": "Perform semantic search across your codebase. Returns relevant code snippets, functions, classes, and other code elements based on your query.",
        "operationId": "search_codebase_api_v1_search_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              },
              "example": {
                "project_id": "proj_456",
                "query": "authentication middleware"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "example": {
                  "results": [
                    {
                      "node_id": "node_123",
                      "name": "authMiddleware",
                      "file_path": "src/middleware/auth.ts",
                      "content": "export function authMiddleware(req, res, next) {...}",
                      "match_type": "function",
                      "relevance": 0.95
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AgentInfo": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "description": {
            "type": "string",
            "title": "Description"
          }
        },
        "type": "object",
        "required": ["id", "name", "description"],
        "title": "AgentInfo"
      },
      "ConversationStatus": {
        "type": "string",
        "enum": ["active", "archived", "deleted"],
        "title": "ConversationStatus"
      },
      "CreateConversationRequest": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "The unique identifier of the user creating the conversation"
          },
          "title": {
            "type": "string",
            "title": "Title",
            "description": "A descriptive title for the conversation"
          },
          "status": {
            "$ref": "#/components/schemas/ConversationStatus"
          },
          "project_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Project Ids",
            "description": "List of project IDs to associate with this conversation"
          },
          "agent_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Agent Ids",
            "description": "List of agent IDs to use in this conversation"
          }
        },
        "type": "object",
        "required": ["user_id", "title", "status", "project_ids", "agent_ids"],
        "title": "CreateConversationRequest"
      },
      "CreateConversationResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation Id"
          }
        },
        "type": "object",
        "required": ["message", "conversation_id"],
        "title": "CreateConversationResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "MessageRequest": {
        "properties": {
          "content": {
            "type": "string",
            "title": "Content",
            "description": "The message content to send"
          },
          "node_ids": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/NodeContext"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Node Ids",
            "description": "Optional list of specific code nodes to reference in the message"
          }
        },
        "type": "object",
        "required": ["content"],
        "title": "MessageRequest"
      },
      "NodeContext": {
        "properties": {
          "node_id": {
            "type": "string",
            "title": "Node Id",
            "description": "The unique identifier of the code node"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The name of the code node"
          }
        },
        "type": "object",
        "required": ["node_id", "name"],
        "title": "NodeContext"
      },
      "ParsingRequest": {
        "properties": {
          "repo_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Repo Name",
            "description": "The name of the repository"
          },
          "repo_path": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Repo Path",
            "description": "The local or remote path to the repository"
          },
          "branch_name": {
            "type": "string",
            "title": "Branch Name",
            "description": "The branch to parse"
          }
        },
        "type": "object",
        "required": ["branch_name"],
        "title": "ParsingRequest"
      },
      "SearchRequest": {
        "properties": {
          "project_id": {
            "type": "string",
            "title": "Project Id",
            "description": "The project to search within"
          },
          "query": {
            "type": "string",
            "title": "Query",
            "description": "The search query"
          }
        },
        "type": "object",
        "required": ["project_id", "query"],
        "title": "SearchRequest"
      },
      "SearchResponse": {
        "properties": {
          "results": {
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            },
            "type": "array",
            "title": "Results"
          }
        },
        "type": "object",
        "required": ["results"],
        "title": "SearchResponse"
      },
      "SearchResult": {
        "properties": {
          "node_id": {
            "type": "string",
            "title": "Node Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "file_path": {
            "type": "string",
            "title": "File Path"
          },
          "content": {
            "type": "string",
            "title": "Content"
          },
          "match_type": {
            "type": "string",
            "title": "Match Type"
          },
          "relevance": {
            "type": "number",
            "title": "Relevance"
          }
        },
        "type": "object",
        "required": ["node_id", "name", "file_path", "content", "match_type", "relevance"],
        "title": "SearchResult"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": ["loc", "msg", "type"],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer authentication with API key"
      }
    }
  }
}
