{
  "openapi": "3.1.0",
  "info": {
    "title": "Potpie API",
    "version": "2.0.0",
    "description": "AI-powered codebase intelligence API. Build powerful integrations with Potpie's parsing, conversation, search, and agent capabilities.",
    "contact": {
      "name": "Potpie Support",
      "email": "hi@potpie.ai",
      "url": "https://potpie.ai"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://potpie.ai/terms"
    }
  },
  "servers": [
    {
      "url": "https://production-api.potpie.ai",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Parsing",
      "description": "Repository parsing and status management"
    },
    {
      "name": "Projects",
      "description": "Project management and listing"
    },
    {
      "name": "Conversations",
      "description": "AI conversation management"
    },
    {
      "name": "Agents",
      "description": "AI agent information and selection"
    },
    {
      "name": "Search",
      "description": "Codebase semantic search"
    },
    {
      "name": "Integrations",
      "description": "External service integrations"
    }
  ],
  "paths": {
    "/api/v2/parse": {
      "post": {
        "operationId": "parseDirectory",
        "summary": "Parse Directory",
        "description": "Initiate parsing of a repository or directory to build Potpie's knowledge graph. This analyzes your codebase structure, relationships, and creates the foundational data that enables AI agents to understand and work with your code.",
        "tags": ["Parsing"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParsingRequest"
              },
              "examples": {
                "local_repo": {
                  "summary": "Parse local repository",
                  "value": {
                    "repo_path": "/path/to/local/repo",
                    "branch_name": "main"
                  }
                },
                "remote_repo": {
                  "summary": "Parse remote repository",
                  "value": {
                    "repo_name": "facebook/react",
                    "branch_name": "main",
                    "commit_id": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parsing initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParsingResponse"
                },
                "example": {
                  "project_id": "proj_123",
                  "status": "submitted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v2/parsing-status/{project_id}": {
      "get": {
        "operationId": "getParsingStatus",
        "summary": "Get Parsing Status",
        "description": "Check the parsing status of a specific project using its project ID. Returns the current status and whether the parsed commit matches the latest commit on the branch.",
        "tags": ["Parsing"],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The unique project identifier returned from the parse endpoint",
            "schema": {
              "type": "string"
            },
            "example": "proj_abc123def456"
          }
        ],
        "responses": {
          "200": {
            "description": "Parsing status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["submitted", "cloned", "parsed", "processing", "inferring", "ready", "error"],
                      "description": "Current parsing status"
                    },
                    "latest": {
                      "type": "boolean",
                      "description": "Whether the parsed commit matches the latest commit on the branch"
                    }
                  }
                },
                "examples": {
                  "processing": {
                    "summary": "Parsing in progress",
                    "value": {
                      "status": "processing",
                      "latest": false
                    }
                  },
                  "ready": {
                    "summary": "Parsing complete",
                    "value": {
                      "status": "ready",
                      "latest": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/parsing-status": {
      "post": {
        "operationId": "getParsingStatusByRepo",
        "summary": "Get Parsing Status By Repo",
        "description": "Retrieve parsing status using repository name and branch/commit information instead of project ID. Useful when you know the repository details but not the project ID.",
        "tags": ["Parsing"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParsingStatusRequest"
              },
              "examples": {
                "by_branch": {
                  "summary": "Check by branch name",
                  "value": {
                    "repo_name": "my-awesome-project",
                    "branch_name": "main"
                  }
                },
                "by_commit": {
                  "summary": "Check by commit ID",
                  "value": {
                    "repo_name": "my-awesome-project",
                    "commit_id": "abc123def456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Parsing status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["submitted", "cloned", "parsed", "processing", "inferring", "ready", "error"]
                    },
                    "progress": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100
                    },
                    "message": {
                      "type": "string"
                    },
                    "project_id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "ready",
                  "progress": 100,
                  "message": "Parsing ready successfully",
                  "project_id": "proj_abc123def456"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/conversations/": {
      "post": {
        "operationId": "createConversation",
        "summary": "Create Conversation",
        "description": "Create a new conversation with AI agents. Conversations maintain context across multiple messages and allow for interactive discussions about your codebase.",
        "tags": ["Conversations"],
        "parameters": [
          {
            "name": "hidden",
            "in": "query",
            "required": false,
            "description": "Whether to hide this conversation from the web UI",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["user_id", "title", "status", "project_ids", "agent_ids"],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "User identifier. The server uses the authenticated user ID from the API key."
                  },
                  "title": {
                    "type": "string",
                    "description": "Name for the conversation. Pass \"Untitled\" to auto-generate a name from the project."
                  },
                  "status": {
                    "type": "string",
                    "enum": ["active", "archived", "deleted"],
                    "description": "Initial conversation status. Use \"active\" for a standard new conversation."
                  },
                  "project_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of project IDs to include in the conversation"
                  },
                  "agent_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of agent IDs to use in the conversation"
                  }
                }
              },
              "example": {
                "user_id": "YOUR_USER_ID",
                "title": "Untitled",
                "status": "active",
                "project_ids": ["proj_abc123def456"],
                "agent_ids": ["codebase_qna_agent"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Conversation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConversationResponse"
                },
                "example": {
                  "message": "Conversation created successfully.",
                  "conversation_id": "conv_xyz789abc123"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/api/v2/conversations/{conversation_id}/message/": {
      "post": {
        "operationId": "postMessage",
        "summary": "Post Message",
        "description": "Send a message to an existing conversation. The AI agent will respond based on the conversation context and your codebase knowledge graph.",
        "tags": ["Conversations"],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "description": "The conversation ID to send the message to",
            "schema": {
              "type": "string"
            },
            "example": "conv_xyz789abc123"
          },
          {
            "name": "stream",
            "in": "query",
            "required": false,
            "description": "Whether to stream the response",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Your message or question. Cannot be empty or whitespace-only.",
                    "minLength": 1
                  },
                  "node_ids": {
                    "type": "string",
                    "description": "JSON-encoded array of NodeContext objects to reference specific code nodes. Example: [{\"node_id\":\"node_123\",\"name\":\"AuthService\"}]"
                  },
                  "tunnel_url": {
                    "type": "string",
                    "description": "VS Code extension tunnel URL for local server routing"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Image attachments to include with your message"
                  }
                }
              },
              "examples": {
                "simple": {
                  "summary": "Simple message",
                  "value": {
                    "content": "How does the authentication system work?"
                  }
                },
                "with_context": {
                  "summary": "Message with node context",
                  "value": {
                    "content": "Explain this function",
                    "node_ids": "[{\"node_id\":\"func_authenticate_user_123\",\"name\":\"authenticate_user\"}]"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully and response received",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "AI agent's response content"
                    },
                    "citations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Source code references used in the response"
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {},
                      "description": "Tool invocations made by the agent during response generation"
                    }
                  }
                },
                "example": {
                  "message": "The authentication system uses JWT tokens...",
                  "citations": ["src/auth/jwt.ts", "src/middleware/auth.ts"],
                  "tool_calls": []
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/project/{project_id}/message/": {
      "post": {
        "operationId": "createConversationAndMessage",
        "summary": "Create Conversation And Message",
        "description": "Create a new conversation and send a message in a single API call. Perfect for quick, one-off queries without managing conversation state. The conversation is automatically hidden from the UI by default.",
        "tags": ["Conversations"],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The project ID to query about",
            "schema": {
              "type": "string"
            },
            "example": "proj_abc123def456"
          },
          {
            "name": "hidden",
            "in": "query",
            "required": false,
            "description": "Whether to hide this conversation from the web UI",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["content"],
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Your question about the codebase"
                  },
                  "agent_id": {
                    "type": "string",
                    "description": "Agent to use (defaults to codebase_qna_agent)",
                    "default": "codebase_qna_agent"
                  },
                  "node_ids": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/NodeContext"
                    },
                    "description": "Optional node context"
                  }
                }
              },
              "examples": {
                "quick_query": {
                  "summary": "Quick query",
                  "value": {
                    "content": "What are the main API endpoints?"
                  }
                },
                "with_agent": {
                  "summary": "With specific agent",
                  "value": {
                    "content": "Generate unit tests for the auth module",
                    "agent_id": "unit_test_agent"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent and response received",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "AI agent's response content"
                    },
                    "citations": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Source code references used in the response"
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {},
                      "description": "Tool invocations made by the agent during response generation"
                    }
                  }
                },
                "example": {
                  "message": "The main API endpoints are...",
                  "citations": ["src/api/router.py"],
                  "tool_calls": []
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/projects/list": {
      "get": {
        "operationId": "listProjects",
        "summary": "List Projects",
        "description": "Retrieve a list of all projects associated with your account. Each project represents a parsed repository or codebase.",
        "tags": ["Projects"],
        "responses": {
          "200": {
            "description": "Projects retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Project identifier"
                      },
                      "repo_name": {
                        "type": "string",
                        "description": "Repository name"
                      },
                      "status": {
                        "type": "string",
                        "enum": ["submitted", "cloned", "parsed", "processing", "inferring", "ready", "error"],
                        "description": "Project status"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "id": "proj_abc123def456",
                    "repo_name": "my-awesome-app",
                    "status": "ready"
                  },
                  {
                    "id": "proj_xyz789ghi012",
                    "repo_name": "backend-api",
                    "status": "processing"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/list-available-agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "List Agents",
        "description": "Get a list of all available AI agents. Each agent is specialized for different tasks like Q&A, debugging, unit testing, or integration testing.",
        "tags": ["Agents"],
        "responses": {
          "200": {
            "description": "Agents retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentInfo"
                  }
                },
                "example": [
                  {
                    "id": "codebase_qna_agent",
                    "name": "Codebase Q&A Agent",
                    "description": "An agent specialized in answering questions about the codebase using the knowledge graph and code analysis tools",
                    "status": "active",
                    "visibility": "public"
                  },
                  {
                    "id": "debugging_agent",
                    "name": "Debugging Agent",
                    "description": "An agent specialized in debugging using knowledge graphs",
                    "status": "active",
                    "visibility": "public"
                  },
                  {
                    "id": "unit_test_agent",
                    "name": "Unit Test Agent",
                    "description": "An agent specialized in generating unit tests for code snippets",
                    "status": "active",
                    "visibility": "public"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/search": {
      "post": {
        "operationId": "searchCodebase",
        "summary": "Search Codebase",
        "description": "Perform semantic search across your codebase. Returns relevant code elements based on natural language queries, using the knowledge graph for intelligent matching.",
        "tags": ["Search"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              },
              "example": {
                "project_id": "proj_abc123def456",
                "query": "authentication functions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "example": {
                  "results": [
                    {
                      "node_id": "func_authenticate_user_123",
                      "name": "authenticate_user",
                      "file_path": "src/auth/authenticate.py",
                      "content": "def authenticate_user(username: str, password: str) -> bool:",
                      "match_type": "function",
                      "relevance": 0.95
                    },
                    {
                      "node_id": "func_verify_token_456",
                      "name": "verify_token",
                      "file_path": "src/auth/jwt.py",
                      "content": "def verify_token(token: str) -> Optional[Dict]:",
                      "match_type": "function",
                      "relevance": 0.87
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v2/integrations/save": {
      "post": {
        "operationId": "saveIntegration",
        "summary": "Save Integration",
        "description": "Save or update an integration with external services like Sentry, Jira, Linear, or Confluence. Integrations enable Potpie to pull additional context from these platforms.",
        "tags": ["Integrations"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationSaveRequest"
              },
              "examples": {
                "sentry": {
                  "summary": "Sentry integration",
                  "value": {
                    "name": "Production Sentry",
                    "integration_type": "sentry",
                    "status": "active",
                    "auth_data": {
                      "access_token": "sentry_token_here",
                      "token_type": "Bearer"
                    },
                    "scope_data": {
                      "org_slug": "my-company"
                    },
                    "metadata": {
                      "instance_name": "Production Sentry",
                      "created_via": "api",
                      "tags": ["production", "monitoring"]
                    }
                  }
                },
                "jira": {
                  "summary": "Jira integration",
                  "value": {
                    "name": "Main Jira Board",
                    "integration_type": "jira",
                    "status": "active",
                    "auth_data": {
                      "access_token": "jira_token",
                      "refresh_token": "jira_refresh"
                    },
                    "scope_data": {
                      "org_slug": "mycompany",
                      "project_id": "PROJ"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationSaveResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "integration_id": "int_abc123",
                    "name": "Production Sentry",
                    "integration_type": "sentry",
                    "status": "active"
                  },
                  "error": null
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key authentication. Get your key from https://app.potpie.ai/settings"
      }
    },
    "schemas": {
      "ParsingRequest": {
        "type": "object",
        "properties": {
          "repo_name": {
            "type": "string",
            "description": "Repository name in owner/repo format (optional if repo_path is provided)",
            "example": "facebook/react"
          },
          "repo_path": {
            "type": "string",
            "description": "Local filesystem path to repository (development mode only, optional if repo_name is provided)",
            "example": "/path/to/local/repo"
          },
          "branch_name": {
            "type": "string",
            "description": "Branch to parse (optional)",
            "example": "main"
          },
          "commit_id": {
            "type": "string",
            "description": "Specific commit SHA to parse (optional)",
            "example": "2c3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e"
          }
        }
      },
      "ParsingResponse": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "string",
            "description": "Unique project identifier"
          },
          "status": {
            "type": "string",
            "enum": ["submitted", "inferring", "ready"],
            "description": "Current parsing state"
          }
        }
      },
      "ParsingStatusRequest": {
        "type": "object",
        "required": ["repo_name"],
        "properties": {
          "repo_name": {
            "type": "string",
            "description": "Repository name to check status for"
          },
          "commit_id": {
            "type": "string",
            "description": "Commit ID to check (optional)"
          },
          "branch_name": {
            "type": "string",
            "description": "Branch name to check (used if commit_id not provided)"
          }
        }
      },
      "CreateConversationResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "conversation_id": {
            "type": "string"
          }
        }
      },
      "MessageRequest": {
        "type": "object",
        "required": ["content"],
        "properties": {
          "content": {
            "type": "string",
            "description": "Message content. Cannot be empty or whitespace-only.",
            "minLength": 1
          },
          "node_ids": {
            "type": "string",
            "description": "JSON-encoded array of NodeContext objects. Passed as a form field string."
          },
          "tunnel_url": {
            "type": "string",
            "description": "VS Code extension tunnel URL for local server routing"
          }
        }
      },
      "NodeContext": {
        "type": "object",
        "required": ["node_id", "name"],
        "properties": {
          "node_id": {
            "type": "string",
            "description": "Node identifier from the knowledge graph"
          },
          "name": {
            "type": "string",
            "description": "Name of the code element"
          }
        }
      },
      "AgentInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Agent identifier"
          },
          "name": {
            "type": "string",
            "description": "Agent display name"
          },
          "description": {
            "type": "string",
            "description": "Agent capabilities and use cases"
          },
          "status": {
            "type": "string",
            "description": "Agent availability status"
          },
          "visibility": {
            "type": "string",
            "description": "Agent visibility (public/private)"
          }
        }
      },
      "SearchRequest": {
        "type": "object",
        "required": ["project_id", "query"],
        "properties": {
          "project_id": {
            "type": "string",
            "description": "Project to search in"
          },
          "query": {
            "type": "string",
            "minLength": 1,
            "description": "Search query (natural language)"
          }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "node_id": {
            "type": "string",
            "description": "Node identifier in knowledge graph"
          },
          "name": {
            "type": "string",
            "description": "Name of the code element"
          },
          "file_path": {
            "type": "string",
            "description": "File path relative to project root"
          },
          "content": {
            "type": "string",
            "description": "Code snippet or content"
          },
          "match_type": {
            "type": "string",
            "description": "Type of match (function, class, etc.)"
          },
          "relevance": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Relevance score (0-1)"
          }
        }
      },
      "IntegrationSaveRequest": {
        "type": "object",
        "required": ["name", "integration_type"],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "User-friendly integration name"
          },
          "integration_type": {
            "type": "string",
            "enum": ["sentry", "jira", "linear", "confluence", "slack", "github"],
            "description": "Type of integration"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "pending", "error"],
            "default": "active",
            "description": "Integration status"
          },
          "active": {
            "type": "boolean",
            "default": true,
            "description": "Whether integration is active"
          },
          "auth_data": {
            "type": "object",
            "properties": {
              "access_token": {
                "type": "string"
              },
              "refresh_token": {
                "type": "string"
              },
              "token_type": {
                "type": "string",
                "default": "Bearer"
              },
              "expires_at": {
                "type": "string",
                "format": "date-time"
              },
              "scope": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "scope_data": {
            "type": "object",
            "properties": {
              "org_slug": {
                "type": "string"
              },
              "installation_id": {
                "type": "string"
              },
              "workspace_id": {
                "type": "string"
              },
              "project_id": {
                "type": "string"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "instance_name": {
                "type": "string"
              },
              "created_via": {
                "type": "string",
                "default": "manual"
              },
              "description": {
                "type": "string"
              },
              "version": {
                "type": "string"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "unique_identifier": {
            "type": "string",
            "description": "Custom identifier (auto-generated if not provided)"
          }
        }
      },
      "IntegrationSaveResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Operation success status"
          },
          "data": {
            "type": "object",
            "description": "Integration data if successful"
          },
          "error": {
            "type": "string",
            "description": "Error message if failed"
          }
        }
      }
    },
    "responses": {
      "Forbidden": {
        "description": "Forbidden - Development mode required for this operation",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            },
            "example": {
              "detail": "Development mode is not enabled, cannot parse local repository."
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad request - Invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            },
            "example": {
              "detail": "Either repo_name or repo_path must be provided"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            },
            "example": {
              "detail": "Invalid API key"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Payment required - Subscription or usage limit issue",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            },
            "example": {
              "detail": "Subscription required to create a conversation"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string"
                }
              }
            },
            "example": {
              "detail": "Project not found"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation error - Invalid request body",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "loc": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "msg": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "example": {
              "detail": [
                {
                  "loc": ["body", "project_id"],
                  "msg": "field required",
                  "type": "value_error.missing"
                }
              ]
            }
          }
        }
      }
    }
  }
}
