{
  "openapi": "3.1.0",
  "info": {
    "title": "Potpie API",
    "version": "1.0.0",
    "description": "Potpie API provides AI-powered codebase intelligence through conversations, semantic search, and intelligent agents. Build powerful integrations to understand, debug, and improve your code.",
    "contact": {
      "name": "Potpie Support",
      "email": "hi@potpie.ai",
      "url": "https://potpie.ai"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://potpie.ai/terms"
    }
  },
  "servers": [
    {
      "url": "https://production-api.potpie.ai",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/v1/conversations/": {
      "post": {
        "tags": ["Conversations"],
        "summary": "Create Conversation",
        "description": "Create a new conversation for interacting with your codebase. Conversations are the primary way to engage with Potpie's AI agents and can be associated with multiple projects and agents.",
        "operationId": "create_conversation_api_v1_conversations__post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversationRequest"
              },
              "examples": {
                "debugging": {
                  "summary": "Debugging session",
                  "value": {
                    "user_id": "user_123",
                    "title": "Debug authentication flow",
                    "status": "active",
                    "project_ids": ["proj_456"],
                    "agent_ids": ["debugging-agent"]
                  }
                },
                "multi_agent": {
                  "summary": "Multiple agents",
                  "value": {
                    "user_id": "user_123",
                    "title": "Feature development workflow",
                    "status": "active",
                    "project_ids": ["proj_456"],
                    "agent_ids": ["qna-agent", "code-changes-agent", "unit-test-agent"]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Conversation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConversationResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "message": "Conversation created successfully",
                      "conversation_id": "conv_789xyz"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/parse": {
      "post": {
        "tags": ["Parsing"],
        "summary": "Parse Directory",
        "description": "Initiate parsing of a repository or directory to build Potpie's knowledge graph. This analyzes your codebase structure, relationships, and creates the foundational data that enables AI agents to understand your code.",
        "operationId": "parse_directory_api_v1_parse_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParsingRequest"
              },
              "examples": {
                "local_repo": {
                  "summary": "Local repository",
                  "value": {
                    "repo_name": "my-project",
                    "repo_path": "/path/to/repo",
                    "branch_name": "main"
                  }
                },
                "github_repo": {
                  "summary": "GitHub repository",
                  "value": {
                    "repo_name": "potpie-ai/potpie",
                    "branch_name": "main"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Parsing initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "parsing_initiated"
                    },
                    "project_id": {
                      "type": "string",
                      "example": "proj_456abc"
                    },
                    "message": {
                      "type": "string",
                      "example": "Repository parsing started"
                    }
                  }
                },
                "examples": {
                  "initiated": {
                    "value": {
                      "status": "parsing_initiated",
                      "project_id": "proj_456abc",
                      "message": "Repository parsing started"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/parsing-status/{project_id}": {
      "get": {
        "tags": ["Parsing"],
        "summary": "Get Parsing Status",
        "description": "Check the parsing status of a specific project. Returns real-time information about the parsing process, including current state, completion percentage, and status messages.",
        "operationId": "get_parsing_status_api_v1_parsing_status__project_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "proj_456abc"
            },
            "description": "The unique identifier of the project"
          }
        ],
        "responses": {
          "200": {
            "description": "Parsing status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["pending", "in_progress", "completed", "failed"],
                      "description": "Current parsing state"
                    },
                    "progress": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100,
                      "description": "Completion percentage"
                    },
                    "message": {
                      "type": "string",
                      "description": "Descriptive message about current phase"
                    }
                  }
                },
                "examples": {
                  "in_progress": {
                    "value": {
                      "status": "in_progress",
                      "progress": 65,
                      "message": "Analyzing code structure"
                    }
                  },
                  "completed": {
                    "value": {
                      "status": "completed",
                      "progress": 100,
                      "message": "Parsing completed successfully"
                    }
                  },
                  "failed": {
                    "value": {
                      "status": "failed",
                      "progress": 45,
                      "message": "Repository not accessible"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/{conversation_id}/message/": {
      "post": {
        "tags": ["Conversations"],
        "summary": "Post Message",
        "description": "Send a message to an existing conversation. The AI agent will process your message based on the conversation context, selected agents, and codebase knowledge graph.",
        "operationId": "post_message_api_v1_conversations__conversation_id__message__post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "conv_789xyz"
            },
            "description": "The unique identifier of the conversation"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              },
              "examples": {
                "simple_question": {
                  "summary": "Simple question",
                  "value": {
                    "content": "How does the authentication flow work?"
                  }
                },
                "with_context": {
                  "summary": "With code context",
                  "value": {
                    "content": "Can you explain how these components interact?",
                    "node_ids": [
                      {
                        "node_id": "node_123",
                        "name": "AuthService.authenticate"
                      },
                      {
                        "node_id": "node_456",
                        "name": "TokenValidator"
                      }
                    ]
                  }
                },
                "debugging": {
                  "summary": "Debugging request",
                  "value": {
                    "content": "I'm getting a TypeError in the UserService. Can you help debug it?"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message_id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["processing", "completed", "failed"]
                    }
                  }
                },
                "examples": {
                  "processing": {
                    "value": {
                      "message_id": "msg_abc123",
                      "status": "processing"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/list": {
      "get": {
        "tags": ["Projects"],
        "summary": "List Projects",
        "description": "Retrieve a list of all projects associated with your Potpie account. Projects represent parsed codebases and contain the knowledge graphs that power AI agent interactions.",
        "operationId": "get_project_list_api_v1_projects_list_get",
        "responses": {
          "200": {
            "description": "Projects retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectInfo"
                  }
                },
                "examples": {
                  "multiple_projects": {
                    "value": [
                      {
                        "id": "proj_456abc",
                        "name": "my-awesome-project",
                        "repo_path": "/path/to/repo",
                        "branch_name": "main",
                        "status": "active",
                        "created_at": "2024-02-09T10:30:00Z"
                      },
                      {
                        "id": "proj_789def",
                        "name": "backend-api",
                        "repo_path": "github.com/org/backend-api",
                        "branch_name": "develop",
                        "status": "parsing",
                        "created_at": "2024-02-09T11:15:00Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/list-available-agents/": {
      "get": {
        "tags": ["Agents"],
        "summary": "List Available Agents",
        "description": "Get a list of all available AI agents that can be used in conversations. Each agent is specialized for specific engineering tasks and leverages Potpie's knowledge graph.",
        "operationId": "list_available_agents_api_v1_list_available_agents__get",
        "responses": {
          "200": {
            "description": "Agents retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/AgentInfo"
                  },
                  "type": "array"
                },
                "examples": {
                  "agents_list": {
                    "value": [
                      {
                        "id": "debugging-agent",
                        "name": "Debugging Agent",
                        "description": "Expert at identifying and fixing bugs in your codebase"
                      },
                      {
                        "id": "qna-agent",
                        "name": "Q&A Agent",
                        "description": "Answers questions about your codebase and explains how code works"
                      },
                      {
                        "id": "code-changes-agent",
                        "name": "Code Changes Agent",
                        "description": "Generates code modifications and implements feature requests"
                      },
                      {
                        "id": "unit-test-agent",
                        "name": "Unit Test Agent",
                        "description": "Generates unit tests for specific functions and classes"
                      },
                      {
                        "id": "integration-test-agent",
                        "name": "Integration Test Agent",
                        "description": "Creates comprehensive integration test plans"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/search": {
      "post": {
        "tags": ["Search"],
        "summary": "Search Codebase",
        "description": "Perform semantic search across your codebase using Potpie's knowledge graph. Returns relevant code snippets, functions, classes, and other code elements based on natural language queries.",
        "operationId": "search_codebase_api_v1_search_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              },
              "examples": {
                "auth_search": {
                  "summary": "Search authentication code",
                  "value": {
                    "project_id": "proj_456abc",
                    "query": "authentication middleware and JWT validation"
                  }
                },
                "error_handling": {
                  "summary": "Find error handling",
                  "value": {
                    "project_id": "proj_456abc",
                    "query": "error handling and logging"
                  }
                },
                "api_endpoints": {
                  "summary": "Find API endpoints",
                  "value": {
                    "project_id": "proj_456abc",
                    "query": "REST API endpoints for user management"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "examples": {
                  "search_results": {
                    "value": {
                      "results": [
                        {
                          "node_id": "node_123",
                          "name": "authenticate",
                          "file_path": "src/auth/middleware.ts",
                          "content": "export function authenticate(req, res, next) {...}",
                          "match_type": "function",
                          "relevance": 0.95
                        },
                        {
                          "node_id": "node_456",
                          "name": "verifyToken",
                          "file_path": "src/auth/jwt.ts",
                          "content": "function verifyToken(token: string): boolean {...}",
                          "match_type": "function",
                          "relevance": 0.87
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AgentInfo": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique agent identifier",
            "example": "debugging-agent"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Human-readable agent name",
            "example": "Debugging Agent"
          },
          "description": {
            "type": "string",
            "title": "Description",
            "description": "What the agent specializes in",
            "example": "Expert at identifying and fixing bugs in your codebase"
          }
        },
        "type": "object",
        "required": ["id", "name", "description"],
        "title": "AgentInfo"
      },
      "ConversationStatus": {
        "type": "string",
        "enum": ["active", "archived", "deleted"],
        "title": "ConversationStatus",
        "description": "Status of the conversation"
      },
      "CreateConversationRequest": {
        "properties": {
          "user_id": {
            "type": "string",
            "title": "User Id",
            "description": "Your unique user identifier",
            "example": "user_123"
          },
          "title": {
            "type": "string",
            "title": "Title",
            "description": "A descriptive name for the conversation",
            "example": "Debug authentication flow"
          },
          "status": {
            "$ref": "#/components/schemas/ConversationStatus"
          },
          "project_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Project Ids",
            "description": "Array of project IDs this conversation relates to",
            "example": ["proj_456"]
          },
          "agent_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Agent Ids",
            "description": "Array of agent IDs to use",
            "example": ["debugging-agent", "qna-agent"]
          }
        },
        "type": "object",
        "required": ["user_id", "title", "status", "project_ids", "agent_ids"],
        "title": "CreateConversationRequest"
      },
      "CreateConversationResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Confirmation message",
            "example": "Conversation created successfully"
          },
          "conversation_id": {
            "type": "string",
            "title": "Conversation Id",
            "description": "Unique ID for the created conversation",
            "example": "conv_789xyz"
          }
        },
        "type": "object",
        "required": ["message", "conversation_id"],
        "title": "CreateConversationResponse"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        },
        "title": "ErrorResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "MessageRequest": {
        "properties": {
          "content": {
            "type": "string",
            "title": "Content",
            "description": "Your message or question",
            "example": "How does the authentication flow work?"
          },
          "node_ids": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/NodeContext"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Node Ids",
            "description": "Optional array of specific code nodes to reference"
          }
        },
        "type": "object",
        "required": ["content"],
        "title": "MessageRequest"
      },
      "NodeContext": {
        "properties": {
          "node_id": {
            "type": "string",
            "title": "Node Id",
            "description": "Unique identifier of the code element",
            "example": "node_123"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the code element",
            "example": "AuthService.authenticate"
          }
        },
        "type": "object",
        "required": ["node_id", "name"],
        "title": "NodeContext"
      },
      "ParsingRequest": {
        "properties": {
          "repo_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Repo Name",
            "description": "The name of your repository",
            "example": "my-awesome-project"
          },
          "repo_path": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Repo Path",
            "description": "Local or remote path to the repository",
            "example": "/path/to/repo"
          },
          "branch_name": {
            "type": "string",
            "title": "Branch Name",
            "description": "The branch to parse",
            "example": "main"
          }
        },
        "type": "object",
        "required": ["branch_name"],
        "title": "ParsingRequest",
        "description": "Either repo_name or repo_path must be provided"
      },
      "ProjectInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique project identifier",
            "example": "proj_456abc"
          },
          "name": {
            "type": "string",
            "description": "Project name",
            "example": "my-awesome-project"
          },
          "repo_path": {
            "type": "string",
            "description": "Repository path or URL",
            "example": "/path/to/repo"
          },
          "branch_name": {
            "type": "string",
            "description": "The branch that was parsed",
            "example": "main"
          },
          "status": {
            "type": "string",
            "enum": ["parsing", "active", "archived", "failed"],
            "description": "Current project status",
            "example": "active"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of project creation",
            "example": "2024-02-09T10:30:00Z"
          }
        },
        "required": ["id", "name", "status", "created_at"],
        "title": "ProjectInfo"
      },
      "SearchRequest": {
        "properties": {
          "project_id": {
            "type": "string",
            "title": "Project Id",
            "description": "The project to search within",
            "example": "proj_456abc"
          },
          "query": {
            "type": "string",
            "title": "Query",
            "description": "Your search query in natural language",
            "example": "authentication middleware"
          }
        },
        "type": "object",
        "required": ["project_id", "query"],
        "title": "SearchRequest"
      },
      "SearchResponse": {
        "properties": {
          "results": {
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            },
            "type": "array",
            "title": "Results"
          }
        },
        "type": "object",
        "required": ["results"],
        "title": "SearchResponse"
      },
      "SearchResult": {
        "properties": {
          "node_id": {
            "type": "string",
            "title": "Node Id",
            "description": "Unique identifier for the code element",
            "example": "node_123"
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Name of the code element",
            "example": "authenticate"
          },
          "file_path": {
            "type": "string",
            "title": "File Path",
            "description": "Full path to the file containing the code",
            "example": "src/auth/middleware.ts"
          },
          "content": {
            "type": "string",
            "title": "Content",
            "description": "Code snippet or relevant content",
            "example": "export function authenticate(req, res, next) {...}"
          },
          "match_type": {
            "type": "string",
            "title": "Match Type",
            "description": "Type of code element",
            "example": "function",
            "enum": ["function", "class", "method", "variable", "interface", "type", "component"]
          },
          "relevance": {
            "type": "number",
            "title": "Relevance",
            "description": "Relevance score (0.0 to 1.0)",
            "minimum": 0,
            "maximum": 1,
            "example": 0.95
          }
        },
        "type": "object",
        "required": ["node_id", "name", "file_path", "content", "match_type", "relevance"],
        "title": "SearchResult"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": ["loc", "msg", "type"],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Enter your API key obtained from the Potpie Dashboard"
      }
    }
  },
  "tags": [
    {
      "name": "Conversations",
      "description": "Create and manage conversations with AI agents"
    },
    {
      "name": "Parsing",
      "description": "Parse repositories and monitor parsing status"
    },
    {
      "name": "Projects",
      "description": "Manage and list your parsed projects"
    },
    {
      "name": "Agents",
      "description": "Discover and use available AI agents"
    },
    {
      "name": "Search",
      "description": "Semantic search across your codebase"
    }
  ]
}
